#acct-retrieval{margin-bottom:55px}
#acct-retrieval .header-text{color:#333;font-size:2em;margin:30px 0 10px}
#acct-retrieval #border-container{background-color:#f5f5f5;border:1px solid #ccc;position:relative;z-index:2}
#acct-retrieval #main-container{background-color:#FFF;width:1000px;margin:0 auto 10px auto;padding:0;border:solid 1px #ccc}
#acct-retrieval #main-container .star{color:#EC0017}
#acct-retrieval .sub-header-text{text-align:left!important;font-size:18px;padding-bottom:5px}
#acct-retrieval,#acct-retrieval a{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif!important;color:#333;font-size:14px}
#acct-retrieval a{font-size:12px}
.g-vtab-container ul{margin:15px 0 15px 15px}
.g-vtab-container ul li.g-vtab-selected{box-shadow:0 0 5px #D9D9D9 inset;font-weight:bold;background:none repeat scroll 0 0 padding-box #F4F4F4}
.g-vtab-container ul li{border:1px solid #FFF;padding-left:10px;position:relative}
.g-vtab-container{height:auto!important}
.g-vtab-container{background:none repeat scroll 0 0 padding-box #FFF;float:left;height:100%}
.g-vtab-container ul li{border:1px solid #FFF;padding-left:10px;position:relative;background:none repeat scroll 0 0 transparent}
.g-vtab-container ul{margin:15px 0 15px 15px}
.g-vtab-container ul{margin:15px 0 15px 15px}
#acct-retrieval ul#menu{position:relative;left:-40px}
#acct-retrieval #login_ns{height:43px!important;padding:11px 2px 11px 10px;width:315px!important}
#idp-account-services{width:300px}
#acct-retrieval ol,#acct-retrieval ul{list-style:none outside none}
.idp-hyperlink,.idp-hyperlink:visited,.idp-hyperlink:active,.idp-hyperlink:hover{text-decoration:underline;color:black;cursor:pointer}
.idp-hyperlink:hover{color:#8b8b8b}
#idp-acct-services{color:#333!important}
#acct-retrieval #main-content{padding:20px;min-height:300px}
#acct-retrieval #main-content h1,#acct-retrieval #main-content p{margin:10px 0 10px 0}
#acct-retrieval #main-content .title{margin:0 0 20px 10px}
#acct-retrieval #main-content .title-s{font-weight:bold;margin:0 0 20px 10px;color:#71a22f}
#acct-retrieval #main-content .input-h-labelside{height:85px}
#acct-retrieval #main-content .input-h{height:85px}
#acct-retrieval #main-content .input-c{padding:0 10px 0 10px;float:left;width:310px;position:relative}
#acct-retrieval #main-content .input-c-wide{padding:0 10px 0 10px;float:left}
#acct-retrieval #main-content .label-t{margin-bottom:5px}
#acct-retrieval #main-content .label-s{padding-left:10px}
#acct-retrieval #main-content input{border:1px solid #B3B3B3;color:#333;font-size:14px;height:40px;line-height:40px;padding:0 10px;width:280px}
#acct-retrieval #main-content .btn-c{padding-top:20px}
#acct-retrieval #main-content .submit-btn{margin-left:289px}
#acct-retrieval #main-content #captcha-container,#captcha-container #captcha-image-box #captcha-container{width:100%;height:70px;position:relative;left:0;top:0}
#acct-retrieval #main-content .LBD_CaptchaImage,#captcha-container #captcha-image-box #captcha-container #captcha-image-box{border:1px solid #ccc}
#acct-retrieval #main-content #captcha-container #captcha-image-box,#idp-login-os-form #captcha-container #captcha-image-box{margin-top:24px}
#acct-retrieval #main-content .LBD_CaptchaDiv,#idp-login-os-form .LBD_CatpchaDiv{float:left;margin-right:5px;width:200px!important}
#acct-retrieval #main-content .captcha_button,#idp-login-os-form .captcha_button{padding:2px;background-color:#ccc;width:90px;vertical-align:text-bottom;min-height:18px;font-size:10px;line-height:18px;margin:2px;color:White;font-weight:bolder;cursor:pointer;background:linear-gradient(top,#B1B1B1 0,#676767 100%) repeat scroll 0 0 transparent;background:-moz-linear-gradient(top,#B1B1B1 0,#676767 100%) repeat scroll 0 0 transparent;background:-webkit-gradient(linear,center top,center bottom,from(#B1B1B1),to(#676767))}
#acct-retrieval #main-content .LBD_CaptchaImageDiv{width:auto!important}
#acct-retrieval #main-content .left{float:left}
#acct-retrieval #main-content #captcha_buttons{float:right}
#acct-retrieval div.error,#acct-retrieval label.error,#acct-retrieval span.error,#acct-retrieval .star{color:#EC0017}
#acct-retrieval label.error{font-size:11px;display:block}
#acct-retrieval input.error{border-color:#EC0017!important}
.growl{position:absolute;right:15px;top:15px;width:200px;margin-right:15px;z-index:25;float:right;min-height:25px;background-color:#000;color:#fff;font-size:11px;font-family:Arial;padding:15px 10px;text-align:left;display:none}
.growl #growlHeader{height:25px;padding-left:5px}
.growl #growlIcoClass{float:left}
.growl #growlHeaderTxt{margin-left:7px;font-size:13px;float:left}
.growl #growlBodyTxt{padding-left:10px}
#acct-retrieval #login td{padding:5px 10px 5px 10px;border:solid 1px #ccc}
#acct-retrieval #login .td-p,#login .td-e{width:200px}
#acct-retrieval #login .td-d{width:300px}
#acct-retrieval #login_help{padding:10px 10px 20px 10px;-webkit-box-shadow:rgba(0,0,0,.7) 5px 5px 15px;-moz-box-shadow:5px 5px 10px rgba(0,0,0,.7);box-shadow:5px 5px 10px rgba(0,0,0,.7);color:#666;position:absolute;background-color:White;top:-70px;left:-165px;display:none;z-index:99999}
#acct-retrieval #login_help_pop{position:absolute;left:290px}
#acct-retrieval #login_help_close{float:right;position:relative;top:-5px;height:15px;width:15px;text-align:center;font-weight:bold;font-size:18px;cursor:pointer}
#acct-retrieval #new_pw_container .pwquickhelp ul{list-style-type:disc;margin-left:15px!important;font-size:11px}
#acct-retrieval #new_pw_container .i{font-style:italic}
#acct-retrieval #new_pw_container .lh20{line-height:20px;height:20px}
#acct-retrieval #new_pw_container #new_pw_main{display:inline}
#acct-retrieval .menu_icons{width:30px;height:35px}
#acct-retrieval .menu_icons_item{margin:auto;top:25%;position:relative}
#acct-retrieval #menu-item-header1{padding-left:25px}
#acct-retrieval #menu-item-header1{width:100%}
#acct-retrieval #giant-icon-label{top:55px;margin-left:20px}
#acct-retrieval #giant-icon-wrapper{width:300px;margin:75px auto}
#acct-retrieval #domain-help-pop{top:10px;left:5px}
.g-vtab-container .doubleline{line-height:17px}
.g-vtab-container{height:auto!important}
.g-vtab-container ul li.g-vtab-selected span{display:inline-block;position:absolute;top:2px;_top:0;right:-15px;height:31px;_height:35px;width:20px;background:#f4f4f4}
#acct-retrieval #menu li{width:235px;cursor:pointer;margin:0 0 2px 0;border:none!important;float:left;height:35px;line-height:35px}
#acct-retrieval #menu .idp-menu-text{text-decoration:underline;display:inline;font-size:12px}
#acct-retrieval #menu-container{box-shadow:none;width:260px;left:-4px;margin-top:15px;border-right:0}
#acct-retrieval #menu-content{float:left;width:719px!important;width:716px;margin-left:-1px;padding-left:21px;border-left:1px solid #D7D7D7;background-color:#F3F3F3;background:linear-gradient(left,#E4E4E4,#F3F3F3 1%) repeat scroll 0 0 transparent;background:-moz-linear-gradient(left,#E4E4E4,#F3F3F3 1%) repeat scroll 0 0 transparent;background:-webkit-gradient(linear,left center,right center,from(#E4E4E4),color-stop(1%,#F3F3F3))}
#create-account{width:1000px;padding-top:20px}
#account-c{font-size:12px;margin-bottom:50px;width:580px}
#marketing-c{width:340px;border:solid 2px #e2e2e2;background-color:#f2f2f2;padding:0 20px 20px 20px}
#create-account #header{font-size:2em;width:100%;padding-bottom:5px 0;margin-bottom:20px}
#create-account .help-tip{top:3px!important}
#create-account .header-qh{top:0!important;margin-left:3px}
ul li{list-style-position:outside;margin-left:10px}
#account-type{border:solid 2px #e2e2e2;width:577px;padding:10px}
#account-type-select{padding-top:5px}
#account-c .account-header{margin-top:15px;padding-top:5px;text-align:center;clear:both;font-size:18px}
#survey-tv-types{margin:5px 0 0 25px}
#confirmPwInfo,#pwInfo{width:400px}
.pw-icon{width:20px}
.pw-icon-row{min-height:20px;margin:2px 0 0 0;clear:right}
.pw-icon-row .pw-icon-text{padding:3px 0 0 3px;float:left;width:370px}
.pwquickhelp ul{font-size:12px;list-style-type:disc;margin-left:-35px!important}
.g-tooltip{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif!important}
.rb{margin-right:5px}
#marketing-c .rb{margin-bottom:5px}
#create-account .field-l{padding:10px 0 5px 0;width:270px;float:left;clear:both}
#account-c .field-r{padding:10px 3px 5px 0;width:270px;float:right}
#account-c .field-ls{float:right;padding:10px 0 5px 37px;width:150px}
#create-account .field-rxs{padding:10px 3px 5px 15px;width:102px;float:right}
#create-account .field-lxs{float:left;padding:10px 30px 5px 0;width:100px}
#account-c .label-t{padding:0 0 5px 0;width:150%}
#account-c .input-t{width:100%}
#account-c hr{color:#e2e2e2}
#account-c select{padding:10px 2px;vertical-align:middle;width:108%}
#account-c ul{padding-top:10px}
#account-c .tos-link{color:#333;text-decoration:underline}
#account-c .tos-l{padding:5px 0 0 15px}
#account-c #submit{text-align:center;margin:160px 0 0 50px}
#account-c .verified{position:absolute;left:111px}
#account-c .pop_up{position:relative;top:5px}
#account-c #pin{width:130px}
#account-c #utos-message{overflow-x:hidden;overflow-y:scroll;height:250px;border:solid 1px #e2e2e2;margin-bottom:10px;width:292px}
#utos-modal-message{display:none;height:445px}
#utos-modal-message .g-modal-content{border:1px solid #C2C2C2;height:340px;margin:10px 0 20px;overflow-y:scroll}
#utos-modal-message #print-modal{color:#F60;margin:10px 0}
#account-c .quick-help{margin-left:10px}
#account-c #final-steps{margin-bottom:10px}
#account-c .last-item{margin-bottom:15px}
#create-account input[type="text"],#create-account input[type="password"],#oauth-page-wrap input[type="text"],#oauth-page-wrap input[type="password"],#oauth-page-wrap #auth_code{border:1px solid #B3B3B3;color:#333;font-size:14px;height:36px;line-height:36px;padding:0 10px}
div.error,label.error{color:#EC0017}
label.error{font-size:11px;display:block}
input.error,select.error{border:solid 2px #EC0017!important}
.smallTable td{border:solid 1px black!important}
.ui-tooltip-titlebar{display:none}
.idp_sprite.arrow-top-left{display:none!important}
.u.toslink.pointer.t14{color:#333;font-size:14px;left:35px;position:relative;text-decoration:underline}
#marketing-c .survey-i,#marketing-c ul li{font-size:11px;color:#434343;line-height:14px}
#marketing-c .survey-i{width:100%;margin:10px 15px 0 0;padding-bottom:5px;overflow:auto;border-bottom:dashed 1px #c2c2c2}
#marketing-c ul li{list-style:disc;margin:10px 0 0 17px}
#marketing-c .survey-t{width:290px;float:left}
#marketing-c .marketing-h{margin:15px 0}
#marketing-c #survey-text-entry{width:275px}
#idp-login-os-form,#create-account{color:#333!important;font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif!important;font-size:14px!important}
#Login_userEntryPanel2_UserPromptLabel,#Login_userEntryPanel2_captchaError{color:#EC0017!important;display:inline-block;line-height:0;text-align:left}
#Login_divAtlantisLogin{background-color:#F6F6F6;background-image:none!important;border:1px solid #D6D6D6;margin-bottom:40px;margin-top:50px;padding-top:20px;width:1000px!important}
#LoginPanel .normal_text input,#idp-login-os-form .idp-input-captcha{border:1px solid #B3B3B3;color:#333;font-size:14px;height:40px;line-height:40px;padding:0 10px;width:300px!important}
#idp-login-os-form .idp-input-captcha{float:right}
#idp-login-os-form .idp-captcha-label{float:left;text-align:right;width:179px}
#idp-login-os-form .LBD_CaptchaImage{height:48px;left:43px;position:relative;top:12px;width:200px;border:1px solid #B3B3B3}
#idp-login-os-form #td1,#idp-login-os-form #td2{clear:both;float:left;font-size:14px!important;margin-right:5px;width:175px}
#idp-login-os-form #Login_userEntryPanel2_trCaptcha>td{padding-bottom:0!important}
#idp-login-os-form .idplogin-captcha-container{position:relative;top:-13px}
#idp-login-os-form #Login_userEntryPanel2_trCaptcha span#Login_userEntryPanel2_captchaError{left:181px;position:relative;top:-180px}
#idp-login-os-form .header-text{color:#333;font-size:2em;margin:30px 0 10px}
#idp-login-os-form td a{color:#333}
#idp-login-os-form ul{font-size:14px!important}
#idp-login-os-form li{list-style:none;margin-left:0}
#Login_userEntryPanel2_divLogin,#Login_userEntryPanel_divLogin{width:500px}
.idp-login-os-form-promo{font-size:14px!important;text-align:left;width:inherit!important}
.idp-login-os-form-continue{font-size:2em;font-weight:normal;position:relative;top:-45px}
.idp-login-os-form-continue-td{line-height:0!important;text-align:left!important}
#idp-login-os-form #LoginPanel{margin-top:17px}
#Login_userEntryPanel2_divUserPrompt{line-height:0;padding-left:190px!important;text-align:left;width:1000px}
#idp-login-os-form .idp-captcha-button-wrap{float:right}
.LBD_CaptchaImage>span{left:-60px!important;top:0!important}
#oauth-page-wrap a,#oauth-page-wrap{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif!important;color:#333;font-size:14px}
#oauth-page-wrap #login-form input{width:180px!important}
.g-help p{background-image:url("//img1.wsimg.com/shared/img/1/help-icon.png")}
.g-alert p{background-position:left center;background-repeat:no-repeat;margin:0;padding:15px 15px 15px 36px}
.g-help{background:none repeat scroll 0 0 #E1F2F9;border:1px solid #3AAEDD}
.g-alert{font-size:12px;margin-bottom:20px;padding-left:10px;position:relative}
.g-err{background:none repeat scroll 0 0 #FFDCDC;border:1px solid #D00000}
.g-err p{background-image:url("//img1.wsimg.com/shared/img/1/error-icon.png")}
body,BODY{background-color:#fff;margin-left:0;margin-top:0;margin-right:0}
.ibfix{display:inline-block;zoom:1;*display:inline}
.left{float:left}
.tcenter{text-align:center}
.tleft{text-align:left}
.right{float:right}
.u{text-decoration:underline}
.b{font-weight:bold}
.prel{position:relative}
.hide{display:none}
.pointer{cursor:pointer}
.cboth{clear:both}
.s1{height:1px;line-height:1px}
.red{color:#EC0017}
.t11{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif!important;font-size:11px}
#create-account .g-btn-lg,#acct-retrieval .g-btn-lg,#idp-login-os-form .g-btn-lg,#create-account .g-btn-sm,#acct-retrieval .g-btn-sm,#idp-login-os-form .g-btn-sm,#utos-modal-message #print-modal,#oauth-page-wrap .g-btn-sm,#oauth-page-wrap .g-btn-lg{color:white!important;cursor:pointer;display:inline-block;font-size:17px;height:40px;line-height:40px;padding-top:3px;text-align:center;padding-left:25px;padding-right:25px;font-size:17px!important;text-decoration:none}
#oauth-page-wrap .g-btn-act,#oauth-page-wrap .g-btn-prg,#create-account .g-btn-act,#acct-retrieval .g-btn-act,#idp-login-os-form .g-btn-act,#create-account .g-btn-prg,#acct-retrieval .g-btn-prg,#idp-login-os-form .g-btn-prg,#utos-modal-message #print-modal{background-color:#FF8A00;border-bottom:3px solid #FF6C00}
#oauth-page-wrap .g-btn-act:hover,#oauth-page-wrap .g-btn-prg:hover,#create-account .g-btn-act:hover,#acct-retrieval .g-btn-act:hover,#idp-login-os-form .g-btn-act:hover{background-color:#ffa133;border-bottom:3px solid #ff7e12}
#create-account #state_other{width:130px}
.clearfix:before,.clearfix:after{content:" ";display:block;height:0;overflow:hidden}
.clearfix:after{clear:both}
.idp_sprite,.ui-icon{background:url(//img1.wsimg.com/idp/1/icons/idp_sprite_3.png) no-repeat top left}
.big_lock{background-position:-1px -1px;width:173px;height:117px}
.options{background-position:-175px -1px;width:48px;height:48px}
.bar_graph{background-position:-224px -1px;width:45px;height:45px}
.dollar_sign{background-position:-271px -1px;width:28px;height:48px}
.checkmark_small{background-position:-214px -59px;width:18px;height:16px}
.redalert_small{background-position:-195px -59px;width:18px;height:16px}
do .chevron{background-position:-297px -50px;height:12px;width:27px}
.reload{background-position:-346px -47px;height:16px;width:10px}
.refresh{background-position:-246px -60px;height:19px;width:19px}
.checkmark_circle{background-position:-175px -76px;width:20px;height:20px}
.redx_circle{background-position:-196px -76px;width:20px;height:20px}
.lock{background-position:-267px -62px;width:18px;height:27px}
.arrow-top-left{background-position:-232px -59px;width:12px;height:12px}
.light_bulb{background-position:-312px -67px;width:10px;height:17px}
.key{background-position:-324px -67px;width:15px;height:17px}
.customer_shadow{background-position:-341px -68px;width:16px;height:14px}
.giant_left_arrow{background-position:-360px -1px;width:114px;height:157px}
.webpage{background-position:-217px -76px;width:15px;height:17px}
.pop_up{background-position:-287px -75px;width:16px;height:15px}
.trust_e{background-position:-1px -120px;width:108px;height:35px}
.verified{background-position:-115px -119px;width:195px;height:36px}
.three_arrows{background-position:-304px -28px;width:33px;height:16px}
#create-account .help-tip,#acct-retrieval .help-tip,#idp-login-os-form .help-tip{background:url("//img1.wsimg.com/cart/icons/101337_payment_icons_rev.png") no-repeat scroll -556px -130px transparent;display:inline-block;height:16px;position:relative;top:-2px;width:16px}
.g-tooltip,.g-tooltip-error{font-family:Arial;font-size:12px}
.g-tooltip,.g-tooltip-info{min-width:40px;padding:20px;position:absolute;z-index:10000}
.g-tooltip{background-color:#333;border:solid 1px #333;color:white;max-width:300px}
.g-tooltip-info{background-color:#333;color:white;max-width:200px}
span.g-tt-close{position:absolute;top:5px;right:5px;cursor:pointer}
.g-tooltip-error{min-width:50px;font-size:12px;padding:6px 12px;background-color:#f01100;color:white;position:absolute;z-index:9}
.g-tt-info-arrow-d{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #333;position:absolute;bottom:-5px;left:0;right:0;margin:auto}
.g-tt-arrow-l{border-bottom:7px solid transparent;border-right:12px solid #333;border-top:0 solid transparent;content:"";height:0;left:-10px;position:absolute;top:-1px;width:0}
.g-tt-arrow-l-input{border-bottom:5px solid transparent;border-right:5px solid #333;border-top:5px solid transparent;height:0;left:-5px;position:absolute;top:5px;width:0}
.g-tt-error-arrow-d{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #F01100;position:absolute;bottom:-5px}
.g-tt-error-arrow-u{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #F01100;position:absolute;top:-5px}
.g-modal{background-color:#FFF;box-shadow:0 0 6px rgba(0,0,0,0.8);color:#707070;font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif!important;font-size:14px;line-height:1.3;padding:15px 20px 20px;position:absolute;width:600px;z-index:3}
.g-modal p{margin:0 0 1em}
.g-modal a{color:#3282E6}
.g-modal-header{font-size:24px;margin-bottom:10px;color:#333}
.g-modal-close{background-image:url("//img1.wsimg.com/shared/img/1/close.gif");background-repeat:no-repeat;cursor:pointer;display:block;height:15px;overflow:hidden;position:absolute;right:20px;text-indent:-9999em;top:20px;width:15px;z-index:9999999}
.g-modal-container{padding-top:6px;position:relative}
.g-modal-content{overflow:auto;position:relative}
.g-modal-buttonpane{background-color:#E2E2E2;bottom:0;box-shadow:-1px -1px 1px rgba(0,0,0,0.1);font-size:12px;height:60px;left:0;margin-top:8px;position:absolute;text-align:center;width:640px;z-index:-1}
.g-modal-buttonpane a{margin:0 2px;vertical-align:middle}
.g-modal-footer{background-color:#EEE;color:#707070;font-size:11px;margin-top:10px;padding:4px 10px 5px;position:relative}
.g-modal-no-titlebar .g-modal-header{border:0 none;margin:0;padding:0}
.g-modal-no-titlebar .g-modal-titlebar{display:none}
#g-modal-overlay{filter:alpha(opacity=80);opacity:.8;background-color:#FFF;display:none;height:100%;left:0;position:absolute;top:0;width:100%}
.ux-tel-control{width:270px}
.ux-tel-control ul li{margin-left:0}
.ux-tel-control ul{padding-top:0!important}
.ux-tel-control .form-control,.ux-tel-control .form-control:focus{height:34px!important;width:230px!important;line-height:34px!important;box-shadow:none!important;outline:0 none!important;border:1px solid #B3B3B3!important}
.ux-tel-control .tel-menu-container .tel-menu-button{border-bottom:2px solid transparent}
.ux-tel-control .tel-menu-container .tel-menu-button:hover{border-bottom:2px solid #eee}
.ux-tel-control .form-control:-moz-placeholder{color:#b3b3b3}
.ux-tel-control .form-control::-moz-placeholder{color:#b3b3b3}
.ux-tel-control .form-control:-ms-input-placeholder{color:#b3b3b3}
.ux-tel-control .form-control::-webkit-input-placeholder{color:#b3b3b3}
.ux-tel-control .form-control{display:block;width:100%;height:36px;font-size:14px;line-height:1.428571429;color:#555;vertical-align:middle;background-color:#fff;border:1px solid #b3b3b3;border-radius:0;-webkit-transition:border-color ease-in-out .15s;transition:border-color ease-in-out .15s}
.ux-tel-control .form-control:hover{-webkit-box-shadow:inset 0 0 0 2px rgba(0,0,0,0.08);box-shadow:inset 0 0 0 2px rgba(0,0,0,0.08)}
.ux-tel-control .form-control:focus{border-color:#555;outline:0;-webkit-box-shadow:none;box-shadow:none}
@font-face{font-family:'uxfont';src:url('//img1.wsimg.com/ux/20131213-1220/fonts/uxfont.eot');src:url('//img1.wsimg.com/ux/20131213-1220/fonts/uxfont.eot?#iefix') format('embedded-opentype'),url('//img1.wsimg.com/ux/20131213-1220/fonts/uxfont.woff') format('woff'),url('//img1.wsimg.com/ux/20131213-1220/fonts/uxfont.ttf') format('truetype'),url('//img1.wsimg.com/ux/20131213-1220/fonts/uxfont.svg#uxfont') format('svg')}
.uxicon{position:relative;display:inline-block;font-family:'uxfont';font-style:normal;font-weight:normal;line-height:1;color:#555;text-transform:none;vertical-align:middle;speak:none;font-variant:normal}
.caret{font-family:'uxfont';line-height:1}
.caret:before{content:"\e369"}
.dropdown{position:relative}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:10000000;display:none;float:left;min-width:160px;padding:0;margin:0;font-size:14px;list-style:none;background-color:#fff;border:1px solid #b3b3b3;border-radius:0;background-clip:padding-box}
.dropdown-menu.pull-right{right:0;left:auto}
.dropdown-menu .divider{height:1px;overflow:hidden;background-color:#b3b3b3}
.dropdown-menu>li>a{display:block;padding:10px 10px;clear:both;font-weight:normal;line-height:1.428571429;color:#333;white-space:nowrap}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{color:#333;text-decoration:none;background-color:#eee}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#fff;text-decoration:none;background-color:#578307;outline:0}
.ux-tel-control{position:relative}
.ux-tel-control input{padding-left:4.25em}
.ux-tel-control .input-sm+.tel-menu-container .tel-menu-button{height:24px;font-size:12px;line-height:24px}
.ux-tel-control .input-lg+.tel-menu-container .tel-menu-button{height:52px;font-size:18px;line-height:52px}
.ux-tel-control .tel-menu-container{position:absolute;top:0;left:0;cursor:pointer}
.ux-tel-control .tel-menu-container .tel-menu-button{width:4em;height:34px;margin:1px 0 1px 1px;font-size:14px;line-height:34px;text-align:center}
.ux-tel-control .tel-menu-container .tel-menu-button:hover{background-color:#eee}
.ux-tel-control .tel-menu-container .tel-menu-button .tel-menu-button-label{margin-right:6px}
.ux-tel-control .tel-menu-container .tel-menu-items{z-index:2;display:block;min-width:330px;max-height:200px;margin-top:-1px;overflow-y:scroll}
.ux-tel-control .tel-menu-container .tel-menu-items.hide{display:none}
.ux-tel-control .tel-menu-container .tel-menu-items .tel-menu-item .country-id,.ux-tel-control .tel-menu-container .tel-menu-items .tel-menu-item .country-name{margin-right:6px}
.ux-tel-control .tel-menu-container .tel-menu-items .tel-menu-item .dial-code{color:#727272}
.ux-tel-control .tel-menu-container .tel-menu-items .tel-menu-item.active .dial-code{color:inherit}